extends layout

block content
  //- passed into layout.jade when form.jade is rendered
  block content
    h1= title
    form(method="post" action="/create")
      div.form-group
        label(for="comment") Got something to say:
        input(type="text",id="comment", name="comment", value=comment).form-control
      input(type="submit", value="Save").btn.btn-primary
    br
    - for comment in comments
      p= comment.title