extends layout

block content
  //- passed into layout.jade when form.jade is rendered
  block content
    h1= title
    form(method="post" action="/create")
      div.form-group
        label(for="comment") Comment:
        input(type="text",id="comment", name="comment",required).form-control
      div.form-group
        label(for="user") User Email:
        input(type="email",id="comment", name="user",required).form-control
      div.form-group
        input(type="submit", value="Save").btn.btn-primary
        a(href='/delete_all').btn.btn-danger.pull-right Delete All
    br
    - for comment in comments
      p= comment.title
      a(href='/delete/'+comment._id).btn.btn-xs.btn-warning Delete